.cookie-font {
  font-family: 'Cookie', cursive;
}

.App-header {
  background-color: #EFE1DA;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
